.Card{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.Card .Header{
    display: flex;
    justify-content: center;

}

.Card .Header .Title{
    flex: 1;
    padding: 5px;
}

.Card .Content{
    padding: 20px;

}

.Card.Red .Header{color: aqua;background-color: cadetblue;}
.Card.Red .Header{background-color: rgb(236, 18, 29);}

.Card.Green.Header{color: rgb(115, 236, 15);background-color:rgb(17, 236, 54);}
.Card.Green .Header{background-color: rgb(13, 241, 154);}

.Card.Blue .Header{color: rgb(224, 225, 230);background-color: rgb(39, 152, 156);}
.Card.Blue .Header{background-color: rgb(68, 33, 221);}

.Card.Purple.Header{color: rgb(184, 226, 31);background-color: rgb(245, 14, 14);}
.Card.Purple .Header{background-color: rgb(8, 212, 86);}